li{
	list-style: none;
}
.sign{
	float: right;
	margin-right: 20%;
	margin-top: 15px;
	background-color: #f8f9fa;
}
.start{
	text-align: center;
	font-size: 30px;
	margin-top: 3%;
}
#parte1{
	background-color: #f8f9fa;
	height: 80px;
}
.registro{
	background-image: url(../imagenes/bg-masthead.jpg);
	height: 500px; 
}
h1{
	text-align: center;
	margin-top: 15%;
	color: white;
}
input{
	display: block;
	margin:auto;
	margin-left: 450px;
}
.boton2{
	margin-left: 5%;
}
#icono3{
	display: block;
	margin:auto;
	margin-top: 22%;
}
#icono2{
	display: block;
	margin:auto;
	margin-top: 22%;
}
#icono1{
	display: block;
	margin:auto;
	margin-top: 22%;
}
.textparte3{
	text-align: center;
	margin-top: 5%;
}
.titulospartetres{
	text-align: center;
	margin-top: 5%;
}
.iconos{
	background-color: #f8f9fa;
	height: 380px; 
}

#imgcel{
	width: 100%;
}
.titulosparte4{
	text-align: center;
	margin-top: 20%;
	font-size: 35px;
}
.parrafosparte4{
	text-align: center;
	font-size: 18px;
	margin-top: 5%;
}
.parte4{
	background-color: #FFFAFA;
}
#img2{
	width: 100%;
}
#img3{
	width: 100%;
}
.tituloparte4{
	text-align: center;
	margin-top: 10%;
	font-size: 35px;
}
#imgparte5{
	border-radius: 150%;
	width: 50%;
	display: block;
	margin:auto;
	margin-top: 10%;
}
.titulosparte5{
	text-align: center;
	margin-top: 5%;
}
.parrafosparte5{
	text-align: center;
	margin-top: 5%;
}
#parte6{
	background-image: url(../imagenes/bg-masthead.jpg);
	height: 300px; 
	margin-top: 5%;
}
.tituloparte5{
	text-align: center;
	margin-top: 10%;
	color: white;
}
